### Plotly Figure Friday - 2024 week 50 - Commodity Markets

In [10]:
import plotly.express as px
import polars as pl

# read excel spreadsheet to polars dataframe. column names are in the 5th row,
# units are in the row 6. followed by the data 
df_source = list_col_names = (
    pl.read_excel(
        'CMO-Historical-Data-Monthly.xlsx',
        sheet_name='Monthly Prices',
        has_header=True,
        read_options={'header_row': 4}
    )
    .rename({'__UNNAMED__0': 'MONTH'})
)
#print(df_source)

# make a list of column names with units row appended to existing name
df_header_info = (
    df_source   
    .head(2)
    .transpose(include_header=True)
    .rename({
        'column'         : 'DESC',
        'column_0'       : 'UNITS',
        'column_1'       : 'ITEM',
        })
    .with_columns(
         column_names = # if units column is blank, just take name without units
             pl.when(pl.col('ITEM').is_not_null())
               .then(pl.col('ITEM') + pl.lit(' ') + pl.col('UNITS'))
               .otherwise(pl.col('DESC'))
    )

)
#print(df_header_info)

list_column_names = (
    df_header_info
    .select(pl.col('column_names'))
    .to_series().to_list()
)
#print(len(list_column_names))

# make working dataframe from df_source. Put in the enhanced column names, 
# remove units from its own row and cast the price columns to floats

temp_col_names = df_source.columns
print(temp_col_names[1:])
print(df_source)
df = (
    df_source
    .with_row_index()
    .filter(pl.col('index') > 1)
    .with_columns(pl.col(temp_col_names[1:]).str.replace(r'…',''))
    .with_columns(pl.col(temp_col_names[1:]).str.replace(r'...',''))
    .with_columns(pl.col(temp_col_names[1:]).str.replace(r'...',''))
    .with_columns(pl.col(temp_col_names[1:]).cast(pl.Float32, strict=False,))
    .drop('index')
)
df.columns=list_column_names
print(df)
print(df.tail().glimpse())
df.write_excel('df_inspect.xlsx')
# # # read excel spreadsheet to data frame, replace column names with enhanced names
# # # that include units, then drop the row with units.
# # df = (
# #     pl.read_excel(
# #         'CMO-Historical-Data-Monthly.xlsx',
# #         sheet_name='Monthly Prices',
# #         has_header=True,
# #         read_options={'header_row': 4}
# #     )
# # )
# # df

['Crude oil, average', 'Crude oil, Brent', 'Crude oil, Dubai', 'Crude oil, WTI', 'Coal, Australian', 'Coal, South African **', 'Natural gas, US', 'Natural gas, Europe', 'Liquefied natural gas, Japan', 'Natural gas index', 'Cocoa', 'Coffee, Arabica', 'Coffee, Robusta', 'Tea, avg 3 auctions', 'Tea, Colombo', 'Tea, Kolkata', 'Tea, Mombasa', 'Coconut oil', 'Groundnuts', 'Fish meal', 'Groundnut oil **', 'Palm oil', 'Palm kernel oil', 'Soybeans', 'Soybean oil', 'Soybean meal', 'Rapeseed oil', 'Sunflower oil', 'Barley', 'Maize', 'Sorghum', 'Rice, Thai 5% ', 'Rice, Thai 25% ', 'Rice, Thai A.1', 'Rice, Viet Namese 5%', 'Wheat, US SRW', 'Wheat, US HRW', 'Banana, Europe', 'Banana, US', 'Orange', 'Beef **', 'Chicken **', 'Lamb **', 'Shrimps, Mexican', 'Sugar, EU', 'Sugar, US', 'Sugar, world', 'Tobacco, US import u.v.', 'Logs, Cameroon', 'Logs, Malaysian', 'Sawnwood, Cameroon', 'Sawnwood, Malaysian', 'Plywood', 'Cotton, A Index', 'Rubber, TSR20 **', 'Rubber, RSS3', 'Phosphate rock', 'DAP', 'TSP', 'Urea ', 'Potassium chloride **', 'Aluminum', 'Iron ore, cfr spot', 'Copper', 'Lead', 'Tin', 'Nickel', 'Zinc', 'Gold', 'Platinum', 'Silver']
shape: (781, 72)
┌─────────┬────────────┬────────────┬────────────┬───┬─────────┬───────────┬───────────┬───────────┐
│ MONTH   ┆ Crude oil, ┆ Crude oil, ┆ Crude oil, ┆ … ┆ Zinc    ┆ Gold      ┆ Platinum  ┆ Silver    │
│ ---     ┆ average    ┆ Brent      ┆ Dubai      ┆   ┆ ---     ┆ ---       ┆ ---       ┆ ---       │
│ str     ┆ ---        ┆ ---        ┆ ---        ┆   ┆ str     ┆ str       ┆ str       ┆ str       │
│         ┆ str        ┆ str        ┆ str        ┆   ┆         ┆           ┆           ┆           │
╞═════════╪════════════╪════════════╪════════════╪═══╪═════════╪═══════════╪═══════════╪═══════════╡
│ null    ┆ ($/bbl)    ┆ ($/bbl)    ┆ ($/bbl)    ┆ … ┆ ($/mt)  ┆ ($/troy   ┆ ($/troy   ┆ ($/troy   │
│         ┆            ┆            ┆            ┆   ┆         ┆ oz)       ┆ oz)       ┆ oz)       │
│ null    ┆ CRUDE_PETR ┆ CRUDE_BREN ┆ CRUDE_DUBA ┆ … ┆ Zinc    ┆ GOLD      ┆ PLATINUM  ┆ SILVER    │
│         ┆ O          ┆ T          ┆ I          ┆   ┆         ┆           ┆           ┆           │
│ 1960M01 ┆ 1.63000011 ┆ 1.63000011 ┆ 1.63000011 ┆ … ┆ 260.8   ┆ 35.27     ┆ 83.5      ┆ 0.9137    │
│         ┆ 4          ┆ 4          ┆ 4          ┆   ┆         ┆           ┆           ┆           │
│ 1960M02 ┆ 1.63000011 ┆ 1.63000011 ┆ 1.63000011 ┆ … ┆ 244.9   ┆ 35.27     ┆ 83.5      ┆ 0.9137    │
│         ┆ 4          ┆ 4          ┆ 4          ┆   ┆         ┆           ┆           ┆           │
│ 1960M03 ┆ 1.63000011 ┆ 1.63000011 ┆ 1.63000011 ┆ … ┆ 248.7   ┆ 35.27     ┆ 83.5      ┆ 0.9137    │
│         ┆ 4          ┆ 4          ┆ 4          ┆   ┆         ┆           ┆           ┆           │
│ …       ┆ …          ┆ …          ┆ …          ┆ … ┆ …       ┆ …         ┆ …         ┆ …         │
│ 2024M07 ┆ 83.2586666 ┆ 85.296     ┆ 83.94      ┆ … ┆ 2777.27 ┆ 2398.2    ┆ 978.8     ┆ 29.773    │
│         ┆ 67         ┆            ┆            ┆   ┆         ┆           ┆           ┆           │
│ 2024M08 ┆ 78.121     ┆ 80.863     ┆ 77.95      ┆ … ┆ 2714.08 ┆ 2470.15   ┆ 945.36    ┆ 28.53     │
│ 2024M09 ┆ 72.4243333 ┆ 74.293     ┆ 73.43      ┆ … ┆ 2837.02 ┆ 2570.55   ┆ 966.7     ┆ 30.131    │
│         ┆ 33         ┆            ┆            ┆   ┆         ┆           ┆           ┆           │
│ 2024M10 ┆ 73.9706666 ┆ 75.662     ┆ 74.65      ┆ … ┆ 3105.77 ┆ 2690.08   ┆ 998.91    ┆ 32.416    │
│         ┆ 67         ┆            ┆            ┆   ┆         ┆           ┆           ┆           │
│ 2024M11 ┆ 72.2916666 ┆ 74.395     ┆ 72.79      ┆ … ┆ 3004.2  ┆ 2651.13   ┆ 965.53    ┆ 31.094    │
│         ┆ 67         ┆            ┆            ┆   ┆         ┆           ┆           ┆           │
└─────────┴────────────┴────────────┴────────────┴───┴─────────┴───────────┴───────────┴───────────┘
shape: (779, 72)
┌─────────┬────────────┬────────────┬────────────┬───┬────────┬────────────┬───────────┬───────────┐
│ MONTH   ┆ CRUDE_PETR ┆ CRUDE_BREN ┆ CRUDE_DUBA ┆ … ┆ Zinc   ┆ GOLD       ┆ PLATINUM  ┆ SILVER    │
│ ---     ┆ O ($/bbl)  ┆ T ($/bbl)  ┆ I ($/bbl)  ┆   ┆ ($/mt) ┆ ($/troy    ┆ ($/troy   ┆ ($/troy   │
│ str     ┆ ---        ┆ ---        ┆ ---        ┆   ┆ ---    ┆ oz)        ┆ oz)       ┆ oz)       │
│         ┆ f32        ┆ f32        ┆ f32        ┆   ┆ f32    ┆ ---        ┆ ---       ┆ ---       │
│         ┆            ┆            ┆            ┆   ┆        ┆ f32        ┆ f32       ┆ f32       │
╞═════════╪════════════╪════════════╪════════════╪═══╪════════╪════════════╪═══════════╪═══════════╡
│ 1960M01 ┆ 114.0      ┆ 114.0      ┆ 114.0      ┆ … ┆ 0.8    ┆ 27.0       ┆ 5.0       ┆ null      │
│ 1960M02 ┆ 114.0      ┆ 114.0      ┆ 114.0      ┆ … ┆ 0.9    ┆ 27.0       ┆ 5.0       ┆ null      │
│ 1960M03 ┆ 114.0      ┆ 114.0      ┆ 114.0      ┆ … ┆ 0.7    ┆ 27.0       ┆ 5.0       ┆ null      │
│ 1960M04 ┆ 114.0      ┆ 114.0      ┆ 114.0      ┆ … ┆ 0.6    ┆ 27.0       ┆ 5.0       ┆ null      │
│ 1960M05 ┆ 114.0      ┆ 114.0      ┆ 114.0      ┆ … ┆ 0.8    ┆ 27.0       ┆ 5.0       ┆ null      │
│ …       ┆ …          ┆ …          ┆ …          ┆ … ┆ …      ┆ …          ┆ …         ┆ …         │
│ 2024M07 ┆ 666667.0   ┆ null       ┆ 94.0       ┆ … ┆ 7.0    ┆ null       ┆ 0.8       ┆ null      │
│ 2024M08 ┆ null       ┆ null       ┆ 95.0       ┆ … ┆ 8.0    ┆ 5.0        ┆ null      ┆ 53.0      │
│ 2024M09 ┆ 333333.0   ┆ null       ┆ 43.0       ┆ … ┆ 2.0    ┆ 5.0        ┆ 0.7       ┆ null      │
│ 2024M10 ┆ 666667.0   ┆ null       ┆ 65.0       ┆ … ┆ 7.0    ┆ 8.0        ┆ null      ┆ null      │
│ 2024M11 ┆ 666667.0   ┆ null       ┆ 79.0       ┆ … ┆ null   ┆ 3.0        ┆ null      ┆ null      │
└─────────┴────────────┴────────────┴────────────┴───┴────────┴────────────┴───────────┴───────────┘
Rows: 5
Columns: 72
$ MONTH                      <str> '2024M07', '2024M08', '2024M09', '2024M10', '2024M11'
$ CRUDE_PETRO ($/bbl)        <f32> 666667.0, None, 333333.0, 666667.0, 666667.0
$ CRUDE_BRENT ($/bbl)        <f32> None, None, None, None, None
$ CRUDE_DUBAI ($/bbl)        <f32> 94.0, 95.0, 43.0, 65.0, 79.0
$ CRUDE_WTI ($/bbl)          <f32> 54.0, 55.0, 55.0, 6.0, 69.0
$ COAL_AUS ($/mt)            <f32> None, None, 0.20000000298023224, None, None
$ COAL_SAFRICA ($/mt)        <f32> None, None, None, None, None
$ NGAS_US ($/mmbtu)          <f32> None, None, None, None, None
$ NGAS_EUR ($/mmbtu)         <f32> 819329.0, 598197.0, 259191.0, 133025.0, 400458.0
$ NGAS_JP ($/mmbtu)          <f32> 964285.0, 636578.0, 226284.0, 979694.0, 49.0
$ iNATGAS (2010=100)         <f32> 761136.0, 428441.0, 920863.0, 319801.0, 3352859.0
$ COCOA ($/kg)               <f32> 7.0, None, 6.0, 4.0, 1.0
$ COFFEE_ARABIC ($/kg)       <f32> 7802.0, 58528.0, 54822.0, 26774.0, 50076.0
$ COFFEE_ROBUS ($/kg)        <f32> 60064.0, 78216.0, 30236.0, 72242.0, 66282.0
$ TEA_AVG ($/kg)             <f32> 40424.0, 6988.0, 68413.0, 55247.0, 67841.0
$ TEA_COLOMBO ($/kg)         <f32> 71632.0, 4126.0, 23543.0, 19487.0, 11911.0
$ TEA_KOLKATA ($/kg)         <f32> 49641.0, 68381.0, 81698.0, 46255.0, 91613.0
$ TEA_MOMBASA ($/kg)         <f32> None, 95.0, None, 66.0, None
$ COCONUT_OIL ($/mt)         <f32> 5.0, 4.0, 5.0, 8.0, 73913040.0
$ GRNUT ($/mt)               <f32> 0.0, None, 5.0, 5.0, 25352112.0
$ FISH_MEAL ($/mt)           <f32> 4.0, 7.0, 7.0, 7.0, 9822744.0
$ GRNUT_OIL ($/mt)           <f32> 4.0, 4.0, 8.0, 7.0, 6.0
$ PALM_OIL ($/mt)            <f32> None, None, None, 5.0, 87905240.0
$ PLMKRNL_OIL ($/mt)         <f32> 5.0, 0.0, 5.0, 9.0, 13541667.0
$ SOYBEANS ($/mt)            <f32> None, None, None, 0.10000000149011612, 746753.0
$ SOYBEAN_OIL ($/mt)         <f32> 2.0, 8.0, 1.0, 9.0, 70566752.0
$ SOYBEAN_MEAL ($/mt)        <f32> None, None, None, None, 7748184.0
$ RAPESEED_OIL ($/mt)        <f32> 3.0, 9.0, 8.0, 4.0, 64483064.0
$ SUNFLOWER_OIL ($/mt)       <f32> 1.0, 6.0, 8.0, 1.0, 44035744.0
$ BARLEY ($/mt)              <f32> None, None, None, None, None
$ MAIZE ($/mt)               <f32> 921392.0, 4757273.0, 7154207.0, 5721739.0, 106.0
$ SORGHUM ($/mt)             <f32> None, None, None, None, None
$ RICE_05 ($/mt)             <f32> None, None, None, None, None
$ RICE_25 ($/mt)             <f32> None, None, None, None, None
$ RICE_A1 ($/mt)             <f32> None, 0.699999988079071, None, None, 0.6000000238418579
$ RICE_05_VNM ($/mt)         <f32> None, None, None, None, None
$ WHEAT_US_SRW ($/mt)        <f32> 7949786.0, 8226367.0, 5386486.0, 676335.0, 329511.0
$ WHEAT_US_HRW ($/mt)        <f32> None, None, None, None, None
$ BANANA_EU ($/kg)           <f32> 91597.0, 74005.0, 26261.0, 33396.0, 69988.0
$ BANANA_US ($/kg)           <f32> 26188.0, 252.0, 15625.0, 15625.0, 575.0
$ ORANGE ($/kg)              <f32> 20462.0, 81051.0, 87884.0, 30055.0, 19325.0
$ BEEF ($/kg)                <f32> 875.0, 728.0, 425.0, 66.0, 42.0
$ CHICKEN ($/kg)             <f32> 6.0, 68.0, 25.0, 28.0, 86.0
$ LAMB ($/kg)                <f32> 25.0, 976.0, 6.0, 575.0, 24.0
$ SHRIMP_MEX ($/kg)          <f32> None, None, None, None, None
$ SUGAR_EU ($/kg)            <f32> 5432.0, 75216.0, 10192.0, 46336.0, 67968.0
$ SUGAR_US ($/kg)            <f32> 69132.0, 6106.0, 17984.0, 12366.0, 82992.0
$ SUGAR_WLD ($/kg)           <f32> 32584.0, 5008.0, 78784.0, 47428.0, 3866.0
$ TOBAC_US ($/mt)            <f32> 33333332.0, None, 25.0, 5387719.0, 27817256.0
$ LOGS_CMR ($/cubic meter)   <f32> 5.0, 5.0, 5.0, None, None
$ LOGS_MYS ($/cubic meter)   <f32> 5987742.0, 2896383.0, 2346543.0, 5255163.0, 6302246.0
$ SAWNWD_CMR ($/cubic meter) <f32> 2377356.0, 191614.0, 211272.0, 5430118.0, 4206753.0
$ SAWNWD_MYS ($/cubic meter) <f32> 55.0, 4.0, 75.0, 55.0, 35.0
$ PLYWOOD (cents/sheet)      <f32> 9100674.0, 3433833.0, 1303299.0, 3695157.0, 2673388.0
$ COTTON_A_INDX ($/kg)       <f32> 96984.0, 70918.0, 70576.0, 23706.0, 6224.0
$ RUBBER_TSR20 ($/kg)        <f32> None, None, None, None, None
$ RUBBER1_MYSG ($/kg)        <f32> None, 87.0, None, None, None
$ PHOSROCK ($/mt)            <f32> 0.5, 0.5, 0.5, 0.5, 0.5
$ DAP ($/mt)                 <f32> 0.4000000059604645, None, None, None, 0.5
$ TSP ($/mt)                 <f32> None, 0.20000000298023224, None, None, None
$ UREA_EE_BULK ($/mt)        <f32> 0.5, 0.5, 0.5, None, 0.30000001192092896
$ POTASH ($/mt)              <f32> None, None, None, None, None
$ ALUMINUM ($/mt)            <f32> 3.0, 7.0, 2.0, 8.0, 9.0
$ IRON_ORE ($/dmtu)          <f32> None, 91.0, 83.0, None, 0.5
$ COPPER ($/mt)              <f32> 1.0, 6.0, 8.0, 9.0, 3.0
$ LEAD ($/mt)                <f32> 4.0, 3.0, 1.0, 4.0, 3.0
$ Tin ($/mt)                 <f32> 47.0, 65.0, 69.0, 43.0, 89.0
$ NICKEL ($/mt)              <f32> 88.0, 12.0, 74.0, 8.0, 6.0
$ Zinc ($/mt)                <f32> 7.0, 8.0, 2.0, 7.0, None
$ GOLD ($/troy oz)           <f32> None, 5.0, 5.0, 8.0, 3.0
$ PLATINUM ($/troy oz)       <f32> 0.800000011920929, None, 0.699999988079071, None, None
$ SILVER ($/troy oz)         <f32> None, 53.0, None, None, None

None

In [11]:
import plotly.express as px
import polars as pl


new_england_states = [
    'Connecticut','Maine', 'Massachusetts',
    'New Hampshire',  'Rhode Island','Vermont', 
]
# make dataframe of population for New England States for data normalization
url = 'https://worldpopulationreview.com/states'
df_pop = (
    pl.from_pandas(pd.read_html(url)[0])    # pandas
    .filter(pl.col('State').is_in(new_england_states))
    .rename({'2024 Pop.': 'POP'})
    .select('State', 'POP')
)

def get_fig(df, x_param, my_custom_data = []):
    fig = (
        px.line(
            df,
            x=x_param,
            y=new_england_states,
            template='simple_white',
            height=400, width=800,
            line_shape='spline',  # I learned this during Fig_Fri_48 Zoom Call,
            custom_data=my_custom_data
        )
    )
    # only use x_label of x_param is WEEK_NUM, all other are obvious
    x_label = x_param if x_param=='WEEK_NUM' else ''

    if x_param == 'DATE':
        fig.update_xaxes(
            dtick="M1",
            tickformat="%b\n%Y",
            ticklabelmode="period")
    elif x_param == 'HOUR':
        fig.update_xaxes(
            dtick="H1",
            ticklabelmode='period'
        )
    elif x_param == 'WEEK_NUM':
        fig.update_xaxes(
            dtick='3',
            ticklabelmode='period'
        )
    fig.update_layout(
        title=(
            f'2024 New England Electricity Demand by {x_param}'.upper() +
            '<br><sup>Missing Feb 6 through Feb 17</sup>'
        ),
        yaxis_title='KWatt Hours per Resident'.upper(),
        xaxis_title = x_label,
        legend_title='STATE',
    )
    return fig

#-------------------------------------------------------------------------------
#   Read data set, and clean up
#-------------------------------------------------------------------------------
def tweak():
    return (
        pl.scan_csv('megawatt_demand_2024.csv')   # scan_csv returns a Lazyframe
        .rename(
            {
            'Connecticut Actual Load (MW)'                      : 'Connecticut',
            'Maine Actual Load (MW)'                            : 'Maine',
            'New Hampshire Actual Load (MW)'                    : 'New Hampshire',
            'Rhode Island Actual Load (MW)'                     : 'Rhode Island',
            'Vermont Actual Load (MW)'                          : 'Vermont',
            'Local Timestamp Eastern Time (Interval Beginning)' : 'Local Start Time'
            }
        )
        .with_columns(
            pl.col('Local Start Time')
                .str.to_datetime('%m/%d/%Y %H:%M')
                .dt.replace_time_zone('US/Eastern',
                #  day light saving time, where hour changes by 1,  creates an
                # ambiguity error. ambigous parameter takes care of it 
                ambiguous='latest'
            )
        )
        .with_columns(  # merge 3 regions of Massachusetts for statewide data
            Massachusetts = (
                pl.col('Northeast Massachusetts Actual Load (MW)') +
                pl.col('Southeast Massachusetts Actual Load (MW)') +
                pl.col('Western/Central Massachusetts Actual Load (MW)')
            )
        )
        .with_columns(DATE=pl.col('Local Start Time').dt.date())
        .with_columns(WEEK_NUM = pl.col('Local Start Time').dt.week())
        .with_columns(DAY = pl.col('Local Start Time').dt.strftime('%a'))
        .with_columns(
            DAY_NUM = pl.col('Local Start Time')
            .dt.strftime('%w')
            .cast(pl.Int8)
            )
        .with_columns(
            HOUR = pl.col('Local Start Time')
            .dt.strftime('%H')
            .cast(pl.Int8)
            )
        .select(
            ['Local Start Time', 'DATE', 'WEEK_NUM', 'DAY', 'DAY_NUM', 'HOUR'] 
            + new_england_states
        )
        .sort('DATE')
        .collect() # returns a polars dataframe from a Lazyframe
    )
df = tweak()

#-------------------------------------------------------------------------------
#   Normalize all data, by dividing it by the state population
#-------------------------------------------------------------------------------
for state in new_england_states:
    df = (
        df
        .with_columns(  # divice all values by the population
            pl.col(state)
            /
            df_pop
            .filter(pl.col('State') == state)
            ['POP']
            [0]
        )
        .with_columns(  # multiply by 1000, changes MW to KW
            pl.col(state)*1000
        )
    )

#-------------------------------------------------------------------------------
#   Aggregate by Date, and plot
#-------------------------------------------------------------------------------
df_by_date = (
    df
    .group_by('DATE')
    .agg(pl.col(pl.Float64).sum())
    .sort('DATE')
)
fig = get_fig(df_by_date, 'DATE', my_custom_data = ['DATE'])
fig.add_vrect(
    x0='2024-06-20', 
    x1='2024-09-22',
    fillcolor='green',
    opacity=0.1,
    line_width=1,
)
fig.add_annotation(
    x=0.75, xref= 'paper',  
    y=1,   yref='paper',  
    showarrow=False,
    text='<b>Summer</b>',
)
fig.show()

#-------------------------------------------------------------------------------
#   Aggregate & plot by DAY. df_day_map maps created to control sort order  
#-------------------------------------------------------------------------------
df_day_map = (
    pl.DataFrame(
        {
            'DAY_NUM'   : list(range(7)),
            'DAY'       : ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
        }
        )
    .with_columns(pl.col('DAY_NUM').cast(pl.Int8))
)
df_by_day = (
    df
    .group_by('DAY_NUM')
    .agg(pl.col(pl.Float64).sum()/52)
    .sort('DAY_NUM')
    .join(
        df_day_map,
        on='DAY_NUM',
        how='left'
    )
)
fig = get_fig(df_by_day, 'DAY')
fig.add_vrect(
    x0=1, 
    x1=5,
    fillcolor='green',
    opacity=0.1,
    line_width=1,
)
fig.add_annotation(
    x=0.5, xref='paper',    
    y=0.1,  yref='paper',  
    showarrow=False,
    text='<b>Business Days</b>',
)
fig.show()

#-------------------------------------------------------------------------------
#   Aggregate by Hour Number
#-------------------------------------------------------------------------------
df_by_hour = (
    df
    .group_by('HOUR')
    .agg(pl.col(pl.Float64).mean())
    .sort('HOUR')
)
fig = get_fig(df_by_hour, 'HOUR')
fig.add_vline(
    x=12, 
    line_width=1,
)
fig.add_annotation(
    x=11, xref='x',    
    y=1,  yref='paper',  
    showarrow=False,
    text='A.M.',
)
fig.add_annotation(
    x=13, xref='x',    
    y=1,  yref='paper',  
    showarrow=False,
    text='P.M.',
)
fig.show()

#-------------------------------------------------------------------------------
#   Aggregate by Week Number, and plot
#-------------------------------------------------------------------------------
df_by_week = (
    df
    .group_by('WEEK_NUM')
    .agg(pl.col(pl.Float64).sum())
    .sort('WEEK_NUM')
)
summer_start = 25  # June 20 is in work_week 25
summer_end =  38   # Sept 22 is in work_week 38

fig = get_fig(df_by_week, 'WEEK_NUM')
fig.add_vrect(
    x0=summer_start, 
    x1=summer_end,
    fillcolor='green',
    opacity=0.1,
    line_width=1,
)
fig.add_annotation(
    x=0.7,  xref='paper',   
    y=0.2,  yref='paper',  
    showarrow=False,
    text='<b>Summer</b>',
)
fig.show()

NameError: name 'pd' is not defined